<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <!-- Mybatis 설정 -->
<configuration>

	<!-- 설정 프로퍼티 -->
	<!-- 여기서는 database.properties 라는 프로퍼티파일을 사용했지만 DB설정뿐만 아니라 다른 설정도 많은 듯합니다. -->
	<!-- 없어도 정상작동하긴 합니다. -->
	<properties resource="database.properties"/>
	
	<!-- 제작한 VO마다 Mybatis에서 사용할 별칭 설정 -->
	<typeAliases>
	
	    <!-- member-mapping -->
		<typeAlias alias="member" type="com.kgitbank.slimbear.dto.MemberDTO" />
		<typeAlias alias="memberOrderAddress" type="com.kgitbank.slimbear.dto.MemberOrderAddressDTO" />
		<typeAlias alias="memberCoupon" type="com.kgitbank.slimbear.dto.MemberCouponDTO" />
		<typeAlias alias="wish" type="com.kgitbank.slimbear.dto.WishDTO" />		
		<typeAlias alias="cart" type="com.kgitbank.slimbear.dto.CartDTO" />	
		
		 <!-- board-mapping -->
		<typeAlias alias="inquiry" type="com.kgitbank.slimbear.dto.InquiryDTO" />
		<typeAlias alias="inquiryAnswer" type="com.kgitbank.slimbear.dto.InquiryAnswerDTO" />
		<typeAlias alias="faq" type="com.kgitbank.slimbear.dto.FaqDTO" />
		<typeAlias alias="notice" type="com.kgitbank.slimbear.dto.NoticeDTO" />
		<typeAlias alias="review" type="com.kgitbank.slimbear.dto.ReviewDTO" />
		<typeAlias alias="reviewComent" type="com.kgitbank.slimbear.dto.ReviewComentDTO" />
		
		<!-- product-mapping -->
		<typeAlias alias="product" type="com.kgitbank.slimbear.dto.ProductDTO" />
		<typeAlias alias="productDetail" type="com.kgitbank.slimbear.dto.ProductDetailDTO" />

		
		<!-- order-mapping -->
		<typeAlias alias="order" type="com.kgitbank.slimbear.dto.OrderDTO" />
		<typeAlias alias="orderDetail" type="com.kgitbank.slimbear.dto.OrderDetailDTO" />
		<typeAlias alias="orderPayment" type="com.kgitbank.slimbear.dto.OrderPaymentDTO" />
		
		<!-- category-mapping -->		
		<typeAlias alias="category" type="com.kgitbank.slimbear.dto.CategoryDTO" />
		
		<!-- coupon-mapping -->
		<typeAlias alias="coupon" type="com.kgitbank.slimbear.dto.CouponDTO" />

		<!-- page-mapping -->
		<typeAlias alias="productBannerTop" type="com.kgitbank.slimbear.dto.ProductBannerTopDTO" />
		
		<!-- admin-mapping -->
		<typeAlias alias="admin" type="com.kgitbank.slimbear.admin.dto.AdminDTO" />
	</typeAliases>
	
	<!-- mapper 설정 XML파일 -->
	<!-- root-context에서 sqlSessionFactory 에 프로퍼티로 추가하여 아래 코드 주석처리
	<mappers>
		<mapper resource="mappings/member-mapping.xml"/>
		<mapper resource="mappings/product-mapping.xml"/>
		<mapper resource="mappings/category-mapping.xml"/>
		<mapper resource="mappings/coupon-mapping.xml"/>
		<mapper resource="mappings/board-mapping.xml"/>
		<mapper resource="mappings/order-mapping.xml"/>
		<mapper resource="mappings/page-mapping.xml"/>
	</mappers>
	 -->
</configuration>