<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <!-- Mybatis 설정 -->
<configuration>

	<!-- 설정 프로퍼티 -->
	<!-- 여기서는 database.properties 라는 프로퍼티파일을 사용했지만 DB설정뿐만 아니라 다른 설정도 많은 듯합니다. -->
	<!-- 없어도 정상작동하긴 합니다. -->
	<properties resource="database.properties"/>
	
	<!-- 제작한 VO마다 Mybatis에서 사용할 별칭 설정 -->
	<typeAliases>
		<typeAlias alias="member" type="com.kgitbank.slimbear.dto.MemberDTO" />
		<typeAlias alias="product" type="com.kgitbank.slimbear.dto.ProductDTO" />
	</typeAliases>
	
	<!-- mapper 설정 XML파일 -->
	<!-- @Mapper 어노테이션을 사용하여 java코드로 Mapper구현하면 아래와 mapper파일을 생성할 때 마다 추가하지 않아도 된다. -->
	<mappers>
		<mapper resource="mappings/member-mapping.xml"/>
		<mapper resource="mappings/product-mapping.xml"/>
	</mappers>
	
</configuration>