<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>관리자 페이지</title>

<!-- 템플릿에 대한 사용자 지정 글꼴 -->
<link href="/admin/resources/vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- 템플릿에 대한 사용자 지정 스타일 -->
<link href="/admin/resources/css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- 페이지 래퍼 -->
	<div id="wrapper">

		<!-- 왼쪽 슬라이더를 포함한 Thymeleaf 블록 -->
		<th:block th:include="common/leftSlider" />

		<!-- 콘텐츠 래퍼 -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- 주 콘텐츠 -->
			<div id="content">

				<!-- 상단 바 -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<h1 class="h3 mb-0 text-black-800">통합 통계</h1>
				</nav>
				<!-- End of Topbar -->

				<!-- 여기부터 body -->
				<div class="container-fluid">
					<br>
					<!-- 매출분석(카테고리) -->
					<div class="row">

						<!-- 전체 매출 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-primary text-uppercase mb-1">
												전체 매출 총액</div> 
											<div class="h5 mb-0 font-weight-bold text-gray-800"><b th:text="${#numbers.formatInteger(totalPayamount, 1, 'COMMA')}"></b><b> 원</b></div>
										</div>
										<div class="col-auto">
											<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 이번년도 매출 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-success text-uppercase mb-1">
												이번년도 매출 총액</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"><b th:text="${#numbers.formatInteger(curYearPayamount, 1, 'COMMA')}"></b><b> 원</b></div>
										</div>
										<div class="col-auto">
											<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 이번달 매출 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-info shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-info text-uppercase mb-1">
												이번달 매출 총액</div>
											<div class="row no-gutters align-items-center">
												<div class="h5 mb-0 font-weight-bold text-gray-800"><b th:text="${#numbers.formatInteger(curMonthPayamount, 1, 'COMMA')}"></b><b> 원</b></div>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row">

						<!-- 전체 회원 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-primary text-uppercase mb-1">
												전체 회원수</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800" >
												<b th:text="${#numbers.formatInteger(totalMemberCount, 1, 'COMMA')}"></b><b> 명</b>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 이번년도 가입회원 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-success text-uppercase mb-1">
												이번년도 가입회원</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"><b th:text="${#numbers.formatInteger(curYearMemberCount, 1, 'COMMA')}"></b><b> 명</b></div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 이번달 가입회원 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-info shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-info text-uppercase mb-1">
												이번달 가입회원</div>
											<div class="row no-gutters align-items-center">
												<div class="h5 mb-0 font-weight-bold text-gray-800"><b th:text="${#numbers.formatInteger(curMonthMemberCount, 1, 'COMMA')}"></b><b> 명</b></div>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					
					<!-- Content Row -->
					<div class="row">

						<!-- 연간 가입자 수 -->
						<div class="col-xl-8 col-lg-7">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">가입자</h6>
									<div class="dropdown no-arrow">
										<a class="dropdown-toggle" href="#" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> <i
											class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
											aria-labelledby="dropdownMenuLink">
											<div class="dropdown-header">드롭다운 헤더:</div>
											<a class="dropdown-item" href="#">동작</a> <a
												class="dropdown-item" href="#">다른 동작</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">여기에 다른 것</a>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="chart-area">
										<canvas id="join"></canvas>
									</div>
								</div>
							</div>
						</div>

						<!-- Pie Chart -->
						<div class="col-xl-4 col-lg-5">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">가입 유형별</h6>
									<div class="dropdown no-arrow">
										<a class="dropdown-toggle" href="#" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> <i
											class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
											aria-labelledby="dropdownMenuLink">
											<div class="dropdown-header">드롭다운 헤더:</div>
											<a class="dropdown-item" href="#">동작</a> <a
												class="dropdown-item" href="#">다른 동작</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">여기에 다른 것</a>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body">

									<div class="chart-pie pt-4 pb-2">
										<canvas id="ageCus"></canvas>
									</div>
									<div class="mt-4 text-center small">

										<span class="mr-2"> <i
											class="fas fa-circle text-primary"></i> 슬림베어
										</span> <span class="mr-2"> <i
											class="fas fa-circle text-success"></i> 카카오
										</span> <span class="mr-2"> <i class="fas fa-circle text-info"></i>
											네이버
										</span> 
									</div>
								</div>
							</div>
						</div>
					</div>
					

					<!-- 매출분석(총매출) -->

					<div class="row">

						<!-- 연간 총 매출 -->
						<div class="col-xl-8 col-lg-7">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">매출</h6>
									<div class="dropdown no-arrow">
										<a class="dropdown-toggle" href="#" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> <i
											class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
											aria-labelledby="dropdownMenuLink">
											<div class="dropdown-header">드롭다운 헤더:</div>
											<a class="dropdown-item" href="#">동작</a> <a
												class="dropdown-item" href="#">다른 동작</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">여기에 다른 것</a>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="chart-area">
										<canvas id="totalSales"></canvas>
									</div>
								</div>
							</div>
						</div>

						<!-- Pie Chart -->
						<div class="col-xl-4 col-lg-5">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">카테고리별 판매 개수</h6>
									<div class="dropdown no-arrow">
										<a class="dropdown-toggle" href="#" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> <i
											class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
											aria-labelledby="dropdownMenuLink">
											<div class="dropdown-header">드롭다운 헤더:</div>
											<a class="dropdown-item" href="#">동작</a> <a
												class="dropdown-item" href="#">다른 동작</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">여기에 다른 것</a>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body">

									<div class="chart-pie pt-4 pb-2">
										<canvas id="salesLatio"></canvas>
									</div>
									<div class="mt-4 text-center small">

										<span class="mr-2"> <i
											class="fas fa-circle text-primary"></i> 탑
										</span> <span class="mr-2"> <i
											class="fas fa-circle text-success"></i> 아우터
										</span> <span class="mr-2"> <i class="fas fa-circle text-info"></i>
											바텀
										</span> <span class="mr-2"> <i
											class="fas fa-circle text-warning"></i> 언더웨어
										</span> <span class="mr-2"> <i
											class="fas fa-circle text-danger"></i> 스포츠
										</span>

									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<!-- 기간별 주문횟수 -->
						<div class="col-xl-12 col-lg-7">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">총 주문건수</h6>
									<div class="dropdown no-arrow">
										<a class="dropdown-toggle" href="#" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> <i
											class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
											aria-labelledby="dropdownMenuLink">
											<div class="dropdown-header">드롭다운 헤더:</div>
											<a class="dropdown-item" href="#">동작</a> <a
												class="dropdown-item" href="#">다른 동작</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">여기에 다른 것</a>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="chart-area">
										<canvas id="yearOrder"></canvas>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 기간별 주문취소 -->
						<div class="col-xl-6 col-lg-6">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">취소건수</h6>
									<div class="dropdown no-arrow">
										<a class="dropdown-toggle" href="#" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> <i
											class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
											aria-labelledby="dropdownMenuLink">
											<div class="dropdown-header">드롭다운 헤더:</div>
											<a class="dropdown-item" href="#">동작</a> <a
												class="dropdown-item" href="#">다른 동작</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">여기에 다른 것</a>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="chart-area">
										<canvas id="cancel"></canvas>
									</div>
								</div>
							</div>
						</div>

						<!-- 기간별 주문반품 -->
						<div class="col-xl-6 col-lg-6">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">반품건수</h6>
									<div class="dropdown no-arrow">
										<a class="dropdown-toggle" href="#" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> <i
											class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
											aria-labelledby="dropdownMenuLink">
											<div class="dropdown-header">드롭다운 헤더:</div>
											<a class="dropdown-item" href="#">동작</a> <a
												class="dropdown-item" href="#">다른 동작</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">여기에 다른 것</a>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="chart-area">
										<canvas id="return"></canvas>
									</div>
								</div>
							</div>
						</div>
						
					</div>


				</div>
			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>저작권 &copy; slimbear 2023</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- 콘텐츠 래퍼 종료 -->

	</div>
	<!-- 페이지 래퍼 종료 -->

	<!-- 맨 위로 스크롤 버튼 -->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- 로그아웃 모달 -->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">나가시겠습니까?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">현재 세션을 종료하려면 "로그아웃"을 선택하세요.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">취소</button>
					<a class="btn btn-primary" href="login.html">로그아웃</a>
				</div>
			</div>
		</div>
	</div>

	<!-- 부트스트랩 코어 자바스크립트 -->
	<script src="/admin/resources/vendor/jquery/jquery.min.js"></script>
	<script src="/admin/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- 코어 플러그인 자바스크립트 -->
	<script src="/admin/resources/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- 모든 페이지에 대한 사용자 정의 스크립트 -->
	<script src="/admin/resources/js/sb-admin-2.min.js"></script>

	<!-- 페이지 레벨 플러그인 -->
	<script src="/admin/resources/vendor/chart.js/Chart.min.js"></script>

	<!-- 페이지 레벨 사용자 정의 스크립트 -->
	<!-- 얘가 그래프 만드는 js -->
	<script src="/admin/resources/js/demo/chart-area-demo.js"></script>
	<!-- 얘가 원형차트 만드는 js -->
	<script src="/admin/resources/js/demo/chart-pie-demo.js"></script>

</body>

</html>