<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="kr">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>기본 페이지 복사해서 써</title>

<!-- Custom fonts for this template -->
<link href="/admin/vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/admin/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">


<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin-2.min.js"></script>

<link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table-locale-all.min.js"></script>

<!-- datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

<!-- icon -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<!-- export -->
<script type="text/javascript" src="/admin/js/jspdf.js"></script>
<script type="text/javascript" src="/admin/js/auto_table.js"></script>
<script type="text/javascript" src="/admin/js/gulim.js"></script>
<!-- Sheet JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<!--FileSaver savaAs 이용 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

<body id="page-top">
	
	<!-- Page Wrapper -->
	<div id="wrapper">
	
		<th:block th:include="common/leftSlider.html" />

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
	
			<!-- Main Content -->
			<div id="content">
				<div class="card shadow" style="margin-top: 10px;
											    margin-right: 40px;
											    margin-bottom: 10px;
											    margin-left: 40px">
					<div class="card-body">
						<div class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100">
							<label class="input-group-text">
									<b>주문일 </b>
									<span class="material-symbols-outlined">calendar_month</span>
									&nbsp;
									<input type="text" id="dp_from" class="datepicker mr-2 filter-datapicker-from" style="border: 1px solid #d1d3e2; padding:6px"><br>
									<b>~</b>&nbsp;&nbsp;
									<input type="text" id="dp_to" class="datepicker mr-2 filter-datapicker-to" style="border: 1px solid #d1d3e2; padding:6px"><br>
							</label>
						</div>
					
						<div class="d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100" style="float:right;margin-left: 10px">
								<label class="input-group-text">
										<button class="btn btn-primary sort-btn" data-sort="DESC" style="padding:2px;">
											<span class="material-symbols-outlined">sort</span>
										</button>
										&nbsp;
										<select id="sort-selector" class="form-control">
										</select> 
								</label>
						</div>
						<div class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100" style="float:right;">
								<label class="input-group-text">
									<span class="material-symbols-outlined">search</span>
									&nbsp;
									<select id="filter-selector" class="form-control">
										<option value='field-all' selected>전체</option>
									</select> 
									&nbsp;
									<input class="form-control" id="filter" type="text" placeholder="검색">
								</label>
						
						</div>

						<hr>
						<div class="" >
							<div style="float:left;">
								<input type="radio" class="btn-check" name="status" id="option1" checked>
								<label class="btn-label" for="option1" >전체
								<span style = "background-color: #00000085; color: white">1
								</span>
								</label>
								&nbsp;&nbsp;
								<input type="radio" class="btn-check" name="status" id="option2" data-target="STAY" >
								<label class="btn-label" for="option2">주문대기
								<span style = "background-color: #0044cc21; color: #0044cc">1
								</span>
								</label>
								&nbsp;&nbsp;
								<input type="radio" class="btn-check" name="status" id="option3" data-target="PREPARING">
								<label class="btn-label" for="option3">상품준비
								<span style = "background-color: #0044cc21; color: #0044cc">1
								</span>
								</label>
								&nbsp;&nbsp;
								<input type="radio" class="btn-check" name="status" id="option4" data-target="STAY_DLV">
								<label class="btn-label" for="option4">배송대기
								<span style = "background-color: #0044cc21; color: #0044cc">1
								</span>
								</label>
								&nbsp;&nbsp;
								<input type="radio" class="btn-check" name="status" id="option5" data-target="DELIVERY">
								<label class="btn-label" for="option5">배송
								<span style = "background-color: #0044cc21; color: #0044cc">1
								</span>
								</label>
								&nbsp;&nbsp;
								<input type="radio" class="btn-check" name="status" id="option6" data-target="DONE">
								<label class="btn-label" for="option6">완료
								<span style = "background-color: #1cc88a29; color: #1cc88a">1
								</span>
								</label>
								&nbsp;&nbsp;
								<input type="radio" class="btn-check" name="status" id="option7" data-target="CANCEL">
								<label class="btn-label" for="option7">취소
								<span style = "background-color: #ff000024; color: #e74a3b">1
								</span>
								</label> 
								&nbsp;&nbsp;
								<input type="radio" class="btn-check" name="status" id="option8" data-target="RETURN">
								<label class="btn-label" for="option8">반품
								<span style = "background-color: #ffb7004d; color: #694b00">1
								</span>
								</label> 
							</div>
							<div style="float:right;">
								<button class="btn btn-primary export-pdf" >PDF 내보내기</button>
								<button class="btn btn-primary export-xcel" >엑셀 내보내기</button>
							</div>
						</div>
					</div>
				</div>
				<div >
					<div id="table-div" class="card-body" style="margin-top: 10px;
											    margin-right: 20px;
											    margin-bottom: 10px;
											    margin-left: 20px">
						<div style="margin-bottom:10px">
							<span>한페이지에&nbsp;</span>
							<select id="selector-pageitem-count">
								<option value='10'>10</option>
								<option value='20'>20</option>
								<option value='30' selected>30</option>
								<option value='50'>50</option>
								<option value='100'>100</option>
							</select>
							<span>&nbsp;개씩 보기</span>
						</div>
						<table id="table" class="table table-bordered" >
							<thead class="bg-gray-300" align="center">
								<tr>
									<th scope="col" data-field="status" data-sorting data-filter>주문 상태</th>
									<th scope="col" data-field="code" data-sorting data-filter>주문번호</th>
									<th scope="col" data-field="owner_id" data-sorting data-filter>아이디</th>
									<th scope="col" data-field="order_date" data-sorting="selected">주문일</th>
									<th scope="col" data-field="pay_status" data-sorting data-filter>결제 상태</th>
									<th scope="col" data-field="pay_type" data-sorting data-filter>결제 방법</th>
									<th scope="col" data-field="pay_pg" data-sorting data-filter>PG</th>
									<th scope="col" data-field="pay_amount" data-sorting data-filter>결제금</th>
									<th scope="col" class="export-ignore" data-field-more style="width: 180px;"></th>
								</tr>
							</thead>
							<tbody align="center">
							</tbody>
						</table>
						<div style="float:right">
							<nav>
							  <ul class="pagination">
							    <li class="page-item pagination-prev"> <a class="page-link">Previous</a> </li>
							     <li class="page-item pagination-page"><a class="page-link"></a></li>
							     <li class="page-item pagination-page"><a class="page-link"></a></li>
							    <li class="page-item pagination-page"><a class="page-link" ></a></li>
							    <li class="page-item pagination-page"><a class="page-link" ></a></li>
							    <li class="page-item pagination-page"><a class="page-link" ></a></li>
								<li class="page-item pagination-next"> <a class="page-link">Next</a></li>
							  </ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>SLIMBEAR ADMIN</span>
					</div>
				</div>
			</footer>
		</div>
		
		<!-- End of Main Content -->
		
		<!-- Modal -->
		</div>
	
			<div id="myModalOverlay" class="myModalOverlay" onclick="closeModal()"></div>
			<div id="myModal" class="mymodal">
				<header style="margin : 10px;height : 10%;">
					<h2>주문내역 상세 </h2><label>주문번호 : <b class="data-code"></b></label>
				</header>
				<main class="card"  style="margin: 10px;height : 80%;overflow-y: auto;">
					<div style="margin: 10px;">
						<h5>구매자 정보</h5>
						<div  class="card" >
							<table class="table-information">
								<tbody>
									<tr>
										<th style="text-align:center; width:100px">이름</th>
										<td class="data-buyer-name" data-modal-field="deliv_recipient"></td>
										<th style="text-align:center; width:100px">아이디</th>
										<td class="data-buyer-id" data-modal-field="deliv_tel"></td>
									</tr>
									<tr>
										<th style="text-align:center; width:100px">전화번호</th>
										<td class="data-buyer-phone" data-modal-field="deliv_tel"></td>
										<th style="text-align:center; width:100px">이메일</th>
										<td class="data-buyer-email" data-modal-field="deliv_tel"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div style="margin: 10px;">
						<h5>배송지 정보</h5>
						<div  class="card" >
							<table class="table-information">
								<tbody>
									<tr>
										<th style="text-align:center; width:100px">이름</th>
										<td class="data-recipient-name"></td>
										<th style="text-align:center; width:100px">전화번호</th>
										<td class="data-recipient-phone" ></td>
									</tr>
									<tr>
										<th style="text-align:center;">우편번호</th>
										<td class="data-recipient-zipcode" colspan="3"></td>
									</tr>
									<tr>
										<th style="text-align:center;">행정 주소</th>
										<td class="data-recipient-addr1" colspan="3"></td>
									</tr>
									<tr>
										<th style="text-align:center;">상세 주소</th>
										<td class="data-recipient-addr2" colspan="3"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div style="margin: 10px;">
						<h5>상품 정보</h5>
						<div id="product-table" class="card">
							
						</div>
					</div>
				</main>
				<footer  style="margin: 10px;">
					<button class="btn btn-primary" style="float:right" onclick="closeModal()">확인</button>
				</footer>
				
				
			</div>
	<!-- End of Footer -->
	
	<!-- End of Content Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

</body>


<script>
	let currentPage = 1;
	let pageItemCnt = 30;
	let field_filter = {};
	
	let enumField = {
			status : {
					STAY : '주문대기',
					PREPARING : '제품 준비',
					STAY_DLV : '배송 대기',
					DELIVERY : '배송',
					DONE : '완료',
					CANCEL : '취소',
					
					RETURN : '반품'
			},
			pay_status : {
				SATY : '미결제',
				DONE : '완료',
				CANCEL : '취소',
				RETURN : '환불'
			}
		}
	
	function ajaxInitTable(){
		$.ajax({
			url : '/admin/order/list',
			type : "GET",
			success : function(data){
				InitTable(data);
			},
			error : function(error){
				console.log(error);
			}
		});
	}
	
	// 테이블 초기화
	function InitTable(datas){
		
		var table = $('#table');
		var tbody = table.find('tbody');
		var ths = table.find('th');
		
		
		var sortSelector = $('#sort-selector');
		var filterSelector = $('#filter-selector');
		
		ths.each(function(index, item){
			// 필터 선택 초기화
			if($(item).attr('data-filter') != null){
				var filterOption = $('<option></option>')
				filterOption.val($(item).data('field'))
				filterOption.text($(item).text());
				filterSelector.append(filterOption);
			}
			
			// 정렬 선택 초기화
			if($(item).attr('data-sorting') != null){
				var sortOption;
				if($(item).data('sorting') == 'selected'){
					sortOption = $('<option selected></option>')
				}else{
					sortOption = $('<option></option>')
				}
				sortOption.val($(item).data('field'))
				sortOption.text($(item).text());
				sortSelector.append(sortOption);
			}
		});
		
		for(var i=0; i<datas.length; ++i){
			var tr = $('<tr></tr>');
			tbody.append(tr);
			var dataItem = datas[i];
			tr.data('rowData', dataItem);
			rowUpdate(tr);
		}
		// selected option으로 기본 정령
		$('#sort-selector').trigger('change');
	}
	
	function rowUpdate(tr){
		
		tr.html("");
		dataItem = tr.data('rowData');
		var ths = $('#table').find('th');
		
		var more = $('<td style="vertical-align:middle"></td');
		ths.each(function(index, item){
			var field = $(item).data('field');
			if(field != null){
				var td = $('<td style="vertical-align:middle"></td');
				tr.append(td);
				
				var value = dataItem[field];
				td.data('field', field);
				td.data('value', value);
				
				td.on('click', function(){
					openModal(tr.data('rowData')['uid']);
				});
				
				switch(field){
					case 'order_date':
						var date = new Date(dataItem[field]);
						var dateToString = date.getFullYear() + '-' + (date.getMonth()+1) +'-' + date.getDate();
						var timeToString = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
						td.html(dateToString + '<br>' + timeToString);
						break;
					case 'status':
						var text = enumField[field][value];
						switch(value){
							case 'CANCEL':
								var span = $('<span></span>');
								span.attr('style', "border-radius: 10px;background-color: #ff000024;padding: 3px;color: #e74a3b");
								span.html(text)
								td.html(span);
								break;
							case 'RETURN':
								var span = $('<span></span>');
								span.attr('style', "border-radius: 10px;background-color: #f6c23e6b;padding: 3px;color: #b58200");
								span.html(text)
								td.html(span);
								break;
							case 'STAY':
								var span = $('<span></span>');
								span.attr('style', "border-radius: 10px;background-color: #0044cc21;padding: 3px;color: #0044cc");
								span.html(text)
								td.html(span);
								addCancelButton(tr, more);
								more.append('&nbsp;');
								addNextActionButton(tr, more,'PREPARING');
								break;
							case 'PREPARING':
								var span = $('<span></span>');
								span.attr('style', "border-radius: 10px;background-color: #0044cc21;padding: 3px;color: #0044cc");
								span.html(text)
								td.html(span);
								addCancelButton(tr, more);
								more.append('&nbsp;');
								addNextActionButton(tr, more,'STAY_DLV')
								break;
							case 'STAY_DLV':
								var span = $('<span></span>');
								span.attr('style', "border-radius: 10px;background-color: #0044cc21;padding: 3px;color: #0044cc");
								span.html(text)
								td.html(span);
								addCancelButton(tr, more);
								more.append('&nbsp;');
								addNextActionButton(tr, more,'DELIVERY')
								break;
							case 'DELIVERY':
								var span = $('<span></span>');
								span.attr('style', "border-radius: 10px;background-color: #0044cc21;padding: 3px;color: #0044cc");
								span.html(text)
								td.html(span);
								addReturnButton(tr, more);
								more.append('&nbsp;');
								addNextActionButton(tr, more,'DONE')
								break;
							case 'DONE':
								var span = $('<span></span>');
								span.attr('style', "border-radius: 10px;background-color: #1cc88a29;padding: 3px;color: #1cc88a");
								span.html(text)
								td.html(span);
								addReturnButton(tr, more);
								break;
							default:
								var span = $('<span></span>');
								span.attr('style', "border-radius: 10px;background-color: #b7b9cc33;padding: 3px;color: #808080");
								span.html(text)
								td.html(span);
								break;
						}
						break;
					case 'pay_status':
						td.html(enumField[field][value]);
						break;
					default:
						td.html(dataItem[field]);
				}
			}
			else if($(item).attr('data-field-more') != null){
				tr.append(more);
			}
		});
		
		function addCancelButton(tr, more){
			var bnt = $('<button></button>');
			bnt.text('취소');
			bnt.addClass("btn btn-danger");
			bnt.on('click', function(){
				if(confirm("주문을 취소하시겠습니까?")){
					$.ajax({
						url : '/admin/order/cancel',
						type : 'POST',
						data : {
							orderUID : tr.data('rowData')['uid'],
							reason : "관리자 요청"
						},
						success : function(res){
							if(res.success){
								alert(res.success);
								tr.data('rowData')['status'] = "CANCEL";
								rowUpdate(tr);
								$("#filter").trigger('keyup');
							}else{
								alert(res.failed);	
							}
						},
						error : function(error){
							alert("주문 취소 실패");	
						}
					});
				}
			});
			more.append(bnt);
		}
		
		function addReturnButton(tr, more){
			var bnt = $('<button></button>');
			bnt.text('반품');
			bnt.addClass("btn btn-warning");
			bnt.on('click', function(){
				if(confirm("주문을 반품하시겠습니까?")){
					$.ajax({
						url : '/admin/order/return',
						type : 'POST',
						data : {
							orderUID : tr.data('rowData')['uid'],
							reason : "관리자 요청"
						},
						success : function(res){
							if(res.success){
								alert(res.success);
								tr.data('rowData')['status'] = "RETURN";
								rowUpdate(tr);
								$("#filter").trigger('keyup');
							}else{
								alert(res.failed);	
							}
						},
						error : function(error){
							alert("반품 실패");	
						}
					});
				}
			});
			more.append(bnt);
		}
	}
	
	function addNextActionButton(tr, more, nextValue){
		var bnt = $('<button></button>');
		bnt.text(enumField['status'][nextValue]);
		bnt.addClass("btn btn-primary");
		bnt.on('click', function(){
			if(confirm('[' + enumField['status'][nextValue] + "] 상태로 변경하시겠습니까?")){
				$.ajax({
					url : '/admin/order/status',
					type : 'POST',
					data : {
						orderUID : tr.data('rowData')['uid'],
						status : nextValue
					},
					success : function(res){
						if(res.success){
							alert(res.success);
							tr.data('rowData')['status'] = nextValue;
							rowUpdate(tr);
							$("#filter").trigger('keyup');
						}else{
							alert(res.failed);	
						}
					},
					error : function(error){
						alert("상태 변경 실패");	
					}
				});
			}
		});
		more.append(bnt);
	}

	$(function() {
	
		// 테이블 최초 초기화
		ajaxInitTable();
		
		// 필터
		$("#filter").on("keyup", function() {
			doFiltering();
			currentPage = pagination(currentPage);
		});
		
		function doFiltering(){
			var dateFrom = $('.filter-datapicker-from').val() == "" ? null : new Date($('.filter-datapicker-from').val());
			var dateTo = $('.filter-datapicker-to').val() == "" ? null : new Date($('.filter-datapicker-to').val());
	
			var value = $("#filter").val();
		    var curFiled = $('#filter-selector').val();
		    var field_filter_cnt = {};
		    $("#table").find('tbody tr').filter(function() {
		    	var toggle = true;
		    	if(curFiled=='field-all'){
		    		$(this).find('td').each(function(index, td){
		    			toggle = $(this).text().indexOf(value) > -1;
		    			if(toggle){
		    				return false;
		    			}
		    		});
		    	}else{
		    		$(this).find('td').each(function(index, td){
		    			if($(this).data('field') == curFiled){
		    				toggle = $(this).text().indexOf(value) > -1;
		    				return false;
		    			}
		    		});
		    	}
		    	
		    	// 날짜따로 확인
		    	// 날짜 타입이 여러개면 원하는거랑 다르게나올수있음
		    	$(this).find('td').each(function(index, td){
			    	if($(this).data('field') == "order_date"){
	    				var datevalue = new Date($(this).data('value'));
	    				datevalue = new Date((datevalue.getMonth()+1) +'/' + datevalue.getDate()  + '/' + datevalue.getFullYear())
	    				if(datevalue != null){
	    					if(datevalue < dateFrom){
	    						toggle = false;
	    					}
	    				}
	    		
	    				if(dateTo != null){
	    					if(datevalue > dateTo){
	    						toggle = false;
	    					}
	    				}
	    			}
		    	});
		    	
		    	// toogle filter
		    	$(this).find('td').each(function(index, td){
		   			if(field_filter_cnt[$(this).data('field')] == null)
	    				field_filter_cnt[$(this).data('field')] = {};
	    			
	    			if(field_filter_cnt[$(this).data('field')][$(this).data('value')] == null)
	    				field_filter_cnt[$(this).data('field')][$(this).data('value')] = 0;
	    			
	    	 		if(field_filter_cnt[$(this).data('field')]['total'] == null)
	    	 			field_filter_cnt[$(this).data('field')]['total'] = 0;
	    	 		
		    		if(toggle){
		    			field_filter_cnt[$(this).data('field')][$(this).data('value')] += 1;
		    			field_filter_cnt[$(this).data('field')]['total'] += 1;
		    		}
		    		
		    		if(field_filter[$(this).data('field')] != null){
		    			var target = field_filter[$(this).data('field')];
		    			if(target != $(this).data('value')){
		    				toggle = false;
		    			}
		    		}
		    	});
		    
		    	$(this).toggle(toggle);
		    });
		    
		    $('input[name=status]').each(function(){
		    	if($(this).data('target') == null){
		    		var cnt = field_filter_cnt['status']['total'];
			    	$('label[for='+ $(this).attr('id') +']').find('span').text(cnt == null ? 0 : cnt);	
		    	}else{
			    	var cnt = field_filter_cnt['status'][$(this).data('target')];
			    	$('label[for='+ $(this).attr('id') +']').find('span').text(cnt == null ? 0 : cnt);	
		    	}
		    });
		}
		
		// filter selector
		$('#filter-selector').on('change', function(){
			$("#filter").val('');
			$("#filter").trigger('keyup');
		});
		
		// date picker
		$('.filter-datapicker-from').datepicker().on('hide', function(){
			var dateFrom = $('.filter-datapicker-from').val() == "" ? null : new Date($('.filter-datapicker-from').val());
			var dateTo = $('.filter-datapicker-to').val() == "" ? null : new Date($('.filter-datapicker-to').val());
			
			if(dateFrom !=null && dateTo !=null && dateFrom > dateTo)
				$('.filter-datapicker-from').val($('.filter-datapicker-to').val());
			
			$("#filter").trigger('keyup');
		});
		
		$('.filter-datapicker-to').datepicker().on('hide', function(){
			var dateFrom = $('.filter-datapicker-from').val() == "" ? null : new Date($('.filter-datapicker-from').val());
			var dateTo = $('.filter-datapicker-to').val() == "" ? null : new Date($('.filter-datapicker-to').val());
			
			if(dateFrom !=null && dateTo !=null && dateTo < dateFrom)
				$('.filter-datapicker-to').val($('.filter-datapicker-from').val());
			
			$("#filter").trigger('keyup');
		});
		
		$('.datepicker').datepicker({
		    format: 'yyyy-mm-dd',
		    todayHighlight: true,
		    toggleActive: true
		});
		
		// sort     
		$('.sort-btn').on('click', function(){
			var sort = $(this).data('sort');
			var field = $('#sort-selector').val();
			if(sort == 'ASC'){
				$(this).css('transform', '');
				$(this).data('sort', 'DESC');
				tableSort(field, false);
			}else{
				$(this).css('transform', 'rotate(180deg) scaleX(-1)');
				$(this).data('sort', 'ASC');
				tableSort(field, true);
			}
		});
		
		$('#sort-selector').on('change', function(){
			var field = $('#sort-selector').val();
			$('.sort-btn').css('transform', '');
			$('.sort-btn').data('sort', 'DESC');
			tableSort(field, false);
		});
		
		function tableSort(field, asc){
			$("#table").find('th').each(function(){
				if($(this).data('field') == field){
					 var rows;
					 if (asc){rows = $("#table").find('tbody tr').toArray().sort(comparerASC($(this).index()));}
					 else{rows = $("#table").find('tbody tr').toArray().sort(comparerDESC($(this).index()));}
					 for (var i = 0; i < rows.length; i++){$("#table").find('tbody').append(rows[i])}
					 return false;
				}
			});
			$("#filter").trigger('keyup');
		}
		function comparerASC(index) {
			return function(a, b) {
		        var valA = getCellValue(a, index), valB = getCellValue(b, index)
		        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
		    }
		}
		function comparerDESC(index) {
			return function(b, a) {
		        var valA = getCellValue(a, index), valB = getCellValue(b, index)
		        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
		    }
		}
		function getCellValue(row, index){ return $(row).children('td').eq(index).data('value') }
	
		// pagination
		$('.pagination').find('.pagination-prev').find('a').on('click', function(){
			currentPage = $('.pagination').find('.pagination-prev').data('prev');
			$("#filter").trigger('keyup');
		});
		
		$('.pagination').find('.pagination-next').find('a').on('click', function(){
			currentPage = $('.pagination').find('.pagination-next').data('next');
			$("#filter").trigger('keyup');
		});
		
		$('.pagination').find('.pagination-page').find('a').on('click', function(){
			currentPage = $(this).parents('li').data('page');
			$("#filter").trigger('keyup');
		});
		
		$('#selector-pageitem-count').on('change', function(){
			pageItemCnt = $(this).val();
			$("#filter").trigger('keyup');
		});
		
		// Modal
		$('#myModalOverlay').on('animationend', function(e){
			switch(e.originalEvent.animationName){
			case 'fadeout':
				$('#myModalOverlay').css('display', "none");
				break;
			}
		})
		
		
		// toggle filter
		$('input[name=status]').on('change',function(){
			field_filter['status'] = $(this).data('target');
			$("#filter").trigger('keyup');
		});
		
		// export
		$('.export-pdf').on('click', function(){
			var doc = new jspdf.jsPDF("p", "mm", "a4");
			doc.addFileToVFS('malgun.ttf', _fonts); 
		    doc.addFont('malgun.ttf','malgun', 'normal');

		    $('.export-ignore').hide();
			doc.autoTable({
			    headStyles:  { halign: 'center', valign: 'middle' }, 
			    bodyStyles: { halign: 'center', valign: 'middle' },
			    styles : { font : 'malgun', fontStyle :'normal'},
			    html: '#table'
			});
		
			doc.save('주문.pdf');  
			$('.export-ignore').show();
		})
		
		$('.export-xcel').on('click', function(){
			  var wb = XLSX.utils.book_new();

			 // step 2. 시트 만들기 
			  var newWorksheet = XLSX.utils.table_to_sheet(document.getElementById('table')); 
			  
			  newWorksheet['!cols'] = [];
			  $('#table').find('thead th').each(function(index){
				  if($(this).hasClass('export-ignore'))
				 	 newWorksheet['!cols'][index] = { hidden : true};
			  });
		  
			  // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
			  XLSX.utils.book_append_sheet(wb, newWorksheet,'sheet');

			  // step 4. 엑셀 파일 만들기 
			  var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

			  // step 5. 엑셀 파일 내보내기 
			  saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), "주문.xlsx");
		});
		function s2ab(s) { 
			  var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
			  var view = new Uint8Array(buf);  //create uint8array as viewer
			  for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
			  return buf;    
		}
	});
	
	
	function pagination(showPage){
		var maxPageCnt = $('.pagination').find('.pagination-page').length;
		
		// 보이는 row만 적용한다
		var items = $("#table").find('tbody tr').filter(function(){
			return $(this).css('display') != 'none'
		});
		
		var totalPage = parseInt(items.length / pageItemCnt) + (items.length%pageItemCnt > 0 ? 1 : 0);
		if(totalPage <= 1){
			$('.pagination').toggle(false);
			return 1;
		}else{
			$('.pagination').toggle(true);
		}
		
		if(showPage > totalPage){
			showPage = totalPage;
		}else if(showPage < 1){
			showPage = 1;
		}
		
		var startIndex = (showPage-1) * pageItemCnt;
		var endIndex = showPage * pageItemCnt - 1;
		
		items.each(function(index){
			if(startIndex <= index && endIndex >= index){
				$(this).toggle(true);
			}else{
				$(this).toggle(false);
			}
		})

		var totalGroupCnt = parseInt(((totalPage-1) / maxPageCnt) + 1);
		var myPageGroup = parseInt(((showPage-1) / maxPageCnt) + 1);
		var startPage = (myPageGroup - 1) * maxPageCnt + 1;
		var endPage = (myPageGroup * maxPageCnt) > totalPage ? totalPage : (myPageGroup * maxPageCnt);
		
		var pageIndex = startPage;
		$('.pagination').find('.pagination-page').each(function(index){
			if(pageIndex > endPage){
				$(this).toggle(false);
			}else{
				$(this).toggle(true);
				$(this).find('a').text(pageIndex);
				$(this).data('page', pageIndex);
				if(showPage == pageIndex){
					$(this).addClass('active');
				}else{
					$(this).removeClass('active');	
				}
			}
			++pageIndex;
		})
		
		if(myPageGroup == 1)
			$('.pagination').find('.pagination-prev').addClass('disabled');
		else{
			var prevGroup = myPageGroup - 1;
			$('.pagination').find('.pagination-prev').removeClass('disabled');
			$('.pagination').find('.pagination-prev').data('prev', startPage - 1);
		}
			
	
		if(myPageGroup == totalGroupCnt)
			$('.pagination').find('.pagination-next').addClass('disabled');
		else{
			var nextGroup = myPageGroup + 1;
			$('.pagination').find('.pagination-next').removeClass('disabled');
			$('.pagination').find('.pagination-next').data('next', endPage + 1);
		}
			
		
		return showPage;
	}
	
	// Modal
	function openModal(order_uid) {
	 // Add open class to make visible and trigger animation
	  $('#myModal').addClass('open');
	  $('#myModalOverlay').css('display', 'block');
	  $('#myModalOverlay').removeClass('fadeout');
	  $('#myModalOverlay').addClass('fadein');
	  $.ajax({
			url : "/admin/order/detail?order_uid=" + order_uid,
			type : "GET",
			success : function(result){
				var html = [];
				html.push('<div><table style="width:100%;"><thead align="center"><tr>');
				
				html.push('<th style="background: #cbd1f9;">상품UID</th>')
				html.push('<th style="background: #cbd1f9;">색상</th>')
				html.push('<th style="background: #cbd1f9;">사이즈</th>')
				html.push('<th style="background: #cbd1f9;">개수</th>')
				html.push('<th style="background: #cbd1f9;">대표이미지</th>')
				html.push('<th style="background: #cbd1f9;">리뷰</th>')
				
				html.push('</tr></thead><tbody class="searchable" align="center">');
		
				for( var index in result.productDetails) {
					var productDetail= result.productDetails[index];
					html.push('<tr>');
					html.push('<th>' + productDetail.prod_uid + '</th>');
					html.push('<td>' + productDetail.color +'</td>');
					html.push('<td>'+ productDetail.size+'</td>');
					html.push('<td>'+ productDetail.cnt+'</td>');
					html.push('<td><img src="https://slimbearbucket.s3.ap-northeast-2.amazonaws.com/images/'+ productDetail.main_image+'" class="img-thumbnail" width="150" height="auto"></td>');
					if(productDetail.review_uid != null){
						html.push('<td>리뷰있음['+ productDetail.review_uid+']</td>');
					}
					else{
						html.push('<td>-</td>');
					}
				
					html.push('</tr>');
					
				}
				
				html.push('</tbody></table></div>');
	
				$('#myModal').find('#product-table').html(html.join(''));
				
				
				$('#myModal').find('.data-code').text(result.code);
				
				$('#myModal').find('.data-buyer-name').text(result.buyer.name);
				$('#myModal').find('.data-buyer-id').text(result.buyer.id);
				$('#myModal').find('.data-buyer-phone').text(result.buyer.phone);
				$('#myModal').find('.data-buyer-email').text(result.buyer.email);
				
				$('#myModal').find('.data-recipient-name').text(result.deliv_recipient);
				$('#myModal').find('.data-recipient-phone').text(result.deliv_tel);
				
				var address = result.deliv_address;
				address = address.split('|');
				$('#myModal').find('.data-recipient-zipcode').text(address[0]);
				$('#myModal').find('.data-recipient-addr1').text(address[1]);
				$('#myModal').find('.data-recipient-addr2').text(address[2]);
			},
			error : function(){
				alret("error");
			}
				
		});
	
	}

	function closeModal() {
	  // Remove open class to hide and trigger animation
	  $('#myModal').removeClass('open');
	  $('#myModalOverlay').removeClass('fadein');
	  $('#myModalOverlay').addClass('fadeout');
	}
	
	
</script>

<style>
.mymodal.open {
  transform: translateX(0px);
}

.myModalOverlay.fadein{
	animation: fadein 0.5s;
}

.myModalOverlay.fadeout{
	animation: fadeout 0.5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.mymodal {
  /* Update CSS with transition and transform rules */
  transition: transform 0.1s linear;
  transform: translateX(100%);
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  width: 600px;
  height: 100%;
  overflow: auto;
  background-color: rgb(255 255 255)
}


.myModalOverlay{
  display : none;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:  rgb(0 0 0 / 30%)
}

#table tbody td:hover{
	cursor : pointer
}

#table tbody tr:hover{
	background-color:  rgb(0 0 0 / 5%)
}

.table-information th{
	background-color: rgb(0 0 0 / 5%)
}

.table td{
	padding : 0;
}

.btn-check {
	display : none;
}

.btn-check+label{
	box-shadow: none;
}

.btn-check:checked+label{
	box-shadow: inset 0 -2px #000;
}

</style>
</html>