<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>기본 페이지 복사해서 써</title>

<!-- Custom fonts for this template -->
<link href="/admin/vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/admin/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin-2.min.js"></script>

<link
	href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css"
	rel="stylesheet">

<script
	src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script
	src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table-locale-all.min.js"></script>

<!-- Export -->
<script
	src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script
	src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>

<!-- toolbar -->
<script
	src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<th:block th:include="common/leftSlider.html" />

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary"></h6>
					</div>
					<div class="card-body">

						<div id="toolbar"></div>

						<table id="table" data-locale="ko-KR" data-search="true"
							data-advanced-search="true" data-id-table="advancedTable"
							data-detail-view="true" data-pagination="true"
							data-show-export="true" data-show-columns="true"
							data-show-columns-toggle-all="true"
							data-page-list="[10, 25, 50, 100, all]" data-url="/admin/order/list">
							<thead>
								<tr>
									<th data-field="uid" data-sortable="true" data-width="50">주문번호</th>
									<th data-field="owner_id" data-sortable="true" data-width="100"
										data-formatter="ownerFormatter">아이디</th>
									<th data-field="status" data-sortable="true" data-width="100"
										data-formatter="typeFormatter">주문 상태</th>
									<th data-field="pay_status" data-sortable="true"
										data-formatter="payStatusFormatter">결제 상태</th>
									<th data-field="pay_type" data-sortable="true" data-width="100"
										data-formatter="payTypeFormatter">결제 방법</th>
									<th data-field="order_date" data-sortable="true" data-width="100"
										data-formatter="dateFormatter">주문일</th>
									<th data-field="total_price" data-sortable="true">총가격</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-white">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright &copy; Your Website 2020</span>
				</div>
			</div>
		</footer>
	</div>
	<!-- End of Footer -->
	</div>
	<!-- End of Content Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to
					end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>
</body>


<script>
	$(function() {
		$('#table').bootstrapTable({
			formatSearch : function() {
				return '모든 항목 검색'
			},  
			exportDataType: 'all',
	        exportTypes: ['json', 'xml', 'csv', 'pdf'],
	        exportOptions: {
	            fileName: function () {
	               var cd = new Date().toLocaleDateString().replace(/\./g, '').replace(/\s/g, '');
	               return 'OrderTable_' + cd;
	            }
	         }
		})
		
		$('#table').on('expand-row.bs.table', function (e, index, row, $detail) {
		    $detail.html('상세 정보 불러오는 중....');
		    $.ajax({
				url : "/admin/order/detail?order_uid="+row['uid'],
				type : "GET",
				success : function(result){
					var html = [];
					html.push('<div><table><thead><tr>');
					
					html.push('<th>상품UID</th>')
					html.push('<th>색상</th>')
					html.push('<th>사이즈</th>')
					html.push('<th>개수</th>')
					html.push('<th>대표이미지</th>')
					html.push('<th>리뷰</th>')
					
					html.push('</tr></thead><tbody>');
			
						
					for( var index in result.productDetails) {
						var productDetail= result.productDetails[index];
						html.push('<tr>');
						html.push('<th>' + productDetail.prod_uid + '</th>');
						html.push('<td>' + productDetail.color +'</td>');
						html.push('<td>'+ productDetail.size+'</td>');
						html.push('<td>'+ productDetail.cnt+'</td>');
						html.push('<td><img src="/resources/images/'+ productDetail.main_image+'" class="img-thumbnail" width="150" height="auto"></td>');
						if(productDetail.review_uid != null){
							html.push('<td>'+ productDetail.review_uid+'</td>');
						}
						else{
							html.push('<td>-</td>');
						}
					
						html.push('</tr>');
						
					}
				
					html.push('</tbody></table></div>');
		
					$detail.html(html);
				},
				error : function(){
					alret("error");
				}
					
			});
		});
	})

	function typeFormatter(value, row, index) {
		
	var html = [];

		
		if(value != "DONE" && value != "CANCEL"){
			html.push('<select class="form-select">');
			html.push( '<option value="STAY"' + (value=="STAY" ? ' selected' : '') + ' >미처리</option>');
			html.push( '<option value="PREPARING"' + (value=="PREPARING" ? ' selected' : '') + ' >준비 중</option>');
			html.push( '<option value="STAY_DLV"' +( value=="STAY_DLV" ? ' selected' : '') + ' >배송 대기</option>');
			html.push( '<option value="DELIVERY"' + (value=="DELIVERY" ? ' selected' : '') + ' >배송 중</option>');
			html.push( '<option value="CANCEL">주문 취소</option>');
			html.push( '<option value="DONE">완료</option>');
			html.push('</select>');
		}
		else if(value == "CANCEL")
			html.push('<b>주문 취소<b>');
		
		else if(value == "DONE")
			html.push('<b>완료<b>');

		return html.join('');
	}
	
	function payStatusFormatter(value, row, index) {
		var html = [];
		
		switch(value){
			case "SATY":
				html.push('<b>결제 필요<b>');
				break;
			case "PREPARING":
				html.push('<b>결제 중<b>');
				break;
			case "DONE":
				html.push('<b>결제 완료<b>');
				break;
			default:
				html.push('<b>결제 필요<b>');
				break;
		}
		
		return html.join('');
	}
	
	function payTypeFormatter(value, row, index) {
		var html = [];
		
		switch(value){
			case "CARD":
				html.push('<b>카드<b>');
				break;
		}
		
		return html.join('');
	}

	function dateFormatter(value, row, index) {
		return [ new Date(value).toLocaleDateString().replace(/\./g, '')
				.replace(/\s/g, '-') ].join('')
	}
	
	function ownerFormatter(value, row, index){
		if(value == null)
			return ['-'].join('');
		else
			return [ 
				'<a class="btn btn-primary" href="/admin/home/member?memberID=',value,'">',value,'</a>'
			].join('')
	}
</script>

</html>