footer {
    padding: 0px;
    font-size: 10px;
    color: #000;
    overflow: hiddlen;
    white-space: nowrap;
    width: 100%;
    margin: 150px auto 0;
}

h2 {
    font-size: medium !important;
    padding-bottom: 20px;
}

#bottom_info>div {
    display: inline-block;
    vertical-align: top;
    margin: 30px;
}

#service_logo>img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}