footer {
	padding: 0px;
	font-size: 10px;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	/* width: 100%; */
	margin: 0px auto 0;
	background: #eae5dd;!important;
}
.hidden {
	display: none;
}
h2 {
	font-size: medium !important;
	padding-bottom: 20px;
}

#bottom_info {
	/* text-align: center; */
	height: 320px !important;
	margin-top: 30px;
	font-family: 'Noto Sans KR', sans-serif !important;
}

#bottom_info > div {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 50px;
}

#service_logo > img {
	width: 50px;
	height: auto;
	margin-right: 15px;
}
#bottom_info p {
	color: #050505!important;	
}
.call {
	padding-left: 110px !important;
	color: #2c2c2c!important;	
}
.address {
	padding-left: 110px !important;	
	color: #2c2c2c!important;	
}
.exchange {
	padding-left: 110px !important;	
	color: #2c2c2c!important;	
}
.service {
	padding-left: 110px !important;	
	color: #2c2c2c!important;	
}
.bank {
	padding-left: 110px !important;	
	color: #2c2c2c!important;	
}
.fa-solid {
	position: relative;
	top: 0%;
}
.footer-container {
	height: 500px !important;
}