@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans KRF';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
img {
  margin: 0;
  padding: 0;
  z-index: 1;
}

html {
  width: 100%;
  height: 100%;
}

body,
code {
  font: 13px 'Outfit','Noto Sans KR',Dotum,AppleGothic,sans-serif;
 /*  font-weight: bold; */
  /* background: #faf9ef; */
  background-color: #ffffff;
  letter-spacing: 0;
  line-height: 1.7;
}

body {
  min-width: 900px;
}

#oneTop1 {
  position: relative;
  background: #655345;
  text-align: center;
  padding: 0px 60px;
  font-size: small;
}
.slide-sentence {
  /* margin-top: 10px; */
  line-height: 1cm;
}
#oneTop1 * {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  line-height: 38px;
  padding: 0 60px;
  overflow: hidden;
  height: 38px;
  visibility: visible;
  opacity: 1;
  transition: all 0.35s;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  /* font-weight: bolder; */
  /* color: #3b3b3b; */
  color: #3f3f3f;
}
header {
/*box-shadow: 1px 1px 1px 1px rgb(153, 144, 144); */

}
.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-top: 0px;
}
.logo>a>img {
  padding-top: 15px;
  width: 180px;
}
.menu-list {
  position: relative;
  top: 7px;
  padding-left: 20px;
}
.menu-list > li {
  font: 13px 'Outfit','Noto Sans KRF',Dotum,AppleGothic,sans-serif;
}
.mainMenu {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  top: 4%;
  min-width: 900px;
}
.menu-item {
  float: left;
  position: relative;
  cursor: pointer;
  padding: 8px 15px;
  text-align: center;
  font-weight: bold;
}
.dropdown-content {
  padding: 14px 19px;
  background : #ffffffa8;
  box-shadow: 0 3px 6px rgb(0 0 0 / 9%);
  position: absolute;
  min-width: 100%;
  display: none;
  top: 37px;
  left: -9px;
  width: max-content;
}
.dropdown-content a {
  display: flex;
  width: auto;
}
.dropdown-content > li {
  padding-top: 10px;
}
.dropdown {
  position: relative;
}
.menu-item:hover {
  color: #3f3f3f;
}
.menu-item:hover .dropdown-content {
  display: block;
}
.banner-container {
  width: 100%;
  position: relative;
  opacity: 1;
  overflow: hidden;
  z-index: 0;
}
.menu-list {
  z-index: 1;
}
.banner-container img {
  /* overflow: hidden; */
  display: block;
  width: 100%;
  height: 100%;
}
.image-slider {
  overflow: hidden;
}

.image-slider, img {
  height: auto;
}

.slider {
  display: none;
}
.userArea > ul {
  display: flex;
  align-content: center;
  position: absolute;
  right: 80px;
  top: 30%;
}
.userArea>ul>li {
  position: relative;
  vertical-align: middle;
  padding-left: 15px;
}
.userArea img {
  width: 15px;
  height: auto;
  vertical-align: middle;
  opacity: 1;
}
.cartPosi {
  position: relative;
  top: 23%;
  right: 12px;
}
/*======================================================  */
/* 검색 영역 */
/*======================================================  */
.inputArea {
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 80px;
  position: relative;
  top: 9px;
}
i {
  position: relative;
  top: 9px;
}
#one-text {
  position: relative;
  padding-top: 50px;
  color: #000;
}
main,
code {
  color: #3f3f3f;
  /* text-align: center; */
}

#one-best {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  /* position: absolute; */
}

.image-list>img {
  width: 370px;
  height: 492px;
}
.menu-item2 {
  float: right;
  display: flex;
  position: absolute;
  cursor: pointer;
}
.text-slide > li {
	font-weight: lighter;
}

#users-container {
    background-color: white;
}

.guraya {
	padding: 0 0 5px 8px;
	margin-left: 5px;
}