body {
	background-color: #faf9ef;
}
#container  {
	padding: 90px;
	margin: 107.5px;
	padding-top: 100px;
}
.productInfo {
	display: flex;
	max-width: 1750px;
	width: fit-content;
}
.left {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-right: 120px;
}
.right {
	/* vertical-align: top; */
	width: 540px;
}
img {
	width: 460px;
	height: 611.8px;
}
.productImg {
	position: relative;
	left: 40px;
}
.subExplanation {
	font-size: 14px;
	color:#555555;
	padding-bottom: 30px;
	
}
table {
	border-collapse: collapse; 
}
.solid {
	width: 480px;
	border-bottom: 1px solid #555555;
}
.solid2 {
	width: 100px;
	text-align: left;
	border-bottom: 1px solid #555555;
	border-spacing: 0;
	padding: 6px 0;
}
th:last-child {
    border-bottom: none; 
}
.solid3 {
	width: 100px;
	text-align: left;
/* 	border-bottom: 1px solid #555555; */
	border-spacing: 0;
	padding: 6px 0;
}
.colorSelect {
	padding-right: 20px;
}
.color {
	position:relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	border: 1px solid;
	background: transparent;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.color2 {
	width: 100px;
	text-align: left;
	border-spacing: 0;
	padding: 6px 0;
}
