@charset "UTF-8";

/* 비밀글보기 */

.xans-board-secure.ec-base-box {
    padding: 50px 0 100px;
    text-align: center;
}

.xans-board-secure .secret {
    width: 370px;
    margin: 0 auto;
}

.xans-board-secure .secret .info {
    margin: 5px 0 40px;
    line-height: 150%;
    color: #757575;
}

.xans-board-secure .secret .password label {
    display: inline-block;
    margin: 10px 0 5px;
    width: 118px;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}


